<style>
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
h3{
  font-family: 'Fjalla One', sans-serif;
}
h1, h2, h3 {
  text-align:center;
}
</style>

  <div class="entry">
    
    <a href="/"><h1>HOME</h1></a>
    <h2 style="font-size:2.5rem;">Number Of Times Greeted</h2>
  <table>
    <tr>
       <h3 style="color: aliceblue;">Hello, {{name}} has been greeted {{user.counter}} times</h3></a>
    </tr>

</table>
 <a href="/greeted_names"><h1>BACK</h1></a>