  <div class="entry">
    <a href="./"><h1 style="text-align:center;">HOME</h1></a>
    <h2 style="text-align:center; font-size1.8rem;">List Of Names Greeted</h2>
  <table>
  
    {{#each list}}
    <tr>
       <a href="/count_x_greeted/{{name}}"><h3 style="text-align:center;">{{name}}</h3></a>
    </tr>
    {{/each}}
</table>
