<form action="/" method="POST">

<div class="container-fluid demo  border border-info">
    
    <div class="col-md-9" id="fe">
        <h1 style="text-align: center;">Greetings</h1>
    </div>

    <div class="col-md-12" id="fe">
        <h4 style="text-align: center; font-family: 'Fjalla One', sans-serif; color:red" class="errorMsg">{{messages.info}}</h4>
    </div>

    <div class="col-md-9" id="fe">
        <h4 style="text-align: justify; font-size: 1.2em">Please Enter A Name With No Special Characters or Numbers and
            Select Language</h4>
    </div>

        <div class="row">

            <div class="col-md-8">
                <textarea class="text"
                    style="margin:auto;text-align:center; font-style: oblique;font-weight: 500; color: blue;"
                    rows="1" name="textArea" ></textarea>
            </div>
            <div class="col-md-4">
                <h4>
                    Counter : <span class="counter">{{counter}}</span>
                </h4>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <span style="margin: auto">
                    <input type="radio" id="english" name="language" value="english">
                    <label for="english" class="language">English</label>
                    <input type="radio" id="shona" name="language" value="shona">
                    <label for="shona" class="language">Shona</label>
                    <input type="radio" id="zulu" name="language" value="zulu">
                    <label for="zulu" class="language">isiZulu</label></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-1 btn-sep icon-info" class="btn" type="submit">Greet</button>
            </div>
    </form>
            <div class="col-md-4">
                <form action="/reset" method="POST">
                 <button class="btn btn-1 btn-sep icon-info btnClear" type="submit" value=""> Reset</button>
                </form>
            </div>
        </div>

        <div class="col-md-12" id="fe">
    <p style="text-align: center; font-style: oblique;" id="myList">{{message}}</p>
</div>
<div class="col-md-12" id="fe">
     <a href="/greeted_names" style="color: rgb(0, 22, 63); font-size: 1.2rem">Greeted Names</a>
</div>
</div>


